<%@ Control Language="C#" AutoEventWireup="true"  Codebehind="~/CMSWebParts/IMWebparts/IM.Columnslayout/IM.Columnslayout.ascx.cs"
    Inherits="CMSWebParts_IMWebparts_IM.Columnslayout_IM_Columnslayout" %>   

