<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_IMWebparts_IM_ContentTexts"  Codebehind="~/CMSWebParts/IMWebparts/IM.ContentTexts.ascx.cs" %>
<%@ Register src="~/CMSModules/PortalEngine/Controls/Editable/EditableText.ascx" tagname="EditableText" tagprefix="cms" %>
<cms:EditableText ID="ucEditableText" runat="server" />



